:root {
  /* aanpasbaar */
  --xyz-size: 1.25vw;
  --x: calc(25 * var(--xyz-size));
  --y: calc(1 * var(--xyz-size));
  --z: calc(35 * var(--xyz-size));

  --gap-value-inline: 1vw;
  --gap-value-block: 2vw;
  --padding-value: 3vw;


  /* berekening */
  --adjustments-block: calc((var(--gap-value-block) * 4) + (var(--padding-value) * 2));
  --adjustments-inline: calc((var(--gap-value-inline) * 4) + (var(--padding-value) * 2));

  --camera-rotations: 2turn;
  --camera-rotation: calc(var(--unitless-camera-rotation) * var(--camera-rotations));
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  appearance: none;
  outline: none;
  display: block;
}


/* ========================== */
/* SHADING */
/* ========================== */

.board>div::before,
.top>.card>div::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  pointer-events: none;
}

.top>.card:focus>div::before {
  background-color: red;
}

/* -=-=-=-=-=-=- BOARD -=-=-=-=-=-=- */

/* front */
.board>div:nth-of-type(1)::before {
  opacity: .15;
}

/* back */
.board>div:nth-of-type(2)::before {
  opacity: .4;
}

/* top */
.board>div:nth-of-type(3)::before {
  opacity: .05;
}

/* bottom */
.board>div:nth-of-type(4)::before {
  opacity: 0.6;
}

/* left right */
.board>div:nth-of-type(5)::before,
.board>div:nth-of-type(6)::before {
  opacity: .3;
}

/* -=-=-=-=-=-=- CARDS -=-=-=-=-=-=- */

/* front */
.top>.card>div:nth-of-type(1)::before {
  opacity: .15;
}

/* back */
.top>.card>div:nth-of-type(2)::before {
  opacity: .4;
  transition: all .5s linear;
}

/* top */
.top>.card>div:nth-of-type(3)::before {
  opacity: .05;
}

/* bottom */
.top>.card>div:nth-of-type(4)::before {
  opacity: 0.6;
}

/* left right */
.top>.card>div:nth-of-type(5)::before,
.top>.card>div:nth-of-type(6)::before {
  opacity: .3;
}



/* ========================== */
/* SET UP */
/* ========================== */

.scene {
  width: 100%;
  /* height: 100%; */

  display: grid;
  place-items: center;

  perspective: 70em;
  perspective-origin: center center;
  transform-style: preserve-3d;
}

.scene * {
  transform-style: preserve-3d;
}

.board {
  transform: rotateX(-40deg) rotateY(calc(360deg - var(--camera-rotation)));
}

.board>div {
  background-color: rgb(142, 149, 232);
  position: absolute;
}


/* ========================== */
/* THE BOARD */
/* ========================== */

/* front */
.board>div:nth-of-type(1) {
  width: var(--x);
  height: var(--y);
  translate: calc(var(--x) / -2) calc(var(--y) / -2) calc(var(--z) / 2);
}

/* back */
.board>div:nth-of-type(2) {
  width: var(--x);
  height: var(--y);
  translate: calc(var(--x) / -2) calc(var(--y) / -2) calc(var(--z) / -2);
}

/* top */
.board>div:nth-of-type(3) {
  width: var(--x);
  height: var(--z);
  transform-origin: top;
  rotate: x 90deg;
  translate: calc(var(--x) / -2) calc(var(--y) / -2) calc(var(--z) / -2);
}

/* bottom */
.board>div:nth-of-type(4) {
  width: var(--x);
  height: var(--z);
  transform-origin: top;
  rotate: x 90deg;
  translate: calc(var(--x) / -2) calc(var(--y) / 2) calc(var(--z) / -2);
}

/* left */
.board>div:nth-of-type(5) {
  width: var(--z);
  height: var(--y);
  transform-origin: left;
  rotate: y 90deg;
  translate: calc(var(--x) / -2) calc(var(--y) / -2) calc(var(--z) / 2);
}

/* right */
.board>div:nth-of-type(6) {
  width: var(--z);
  height: var(--y);
  transform-origin: left;
  rotate: y 90deg;
  translate: calc(var(--x) / 2) calc(var(--y) / -2) calc(var(--z) / 2);
}


/* ========================== */
/* THE CARDS */
/* ========================== */

.top {
  width: 100%;
  height: 100%;
  padding: var(--padding-value);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: var(--gap-value-block) var(--gap-value-inline);
}

.top>.card {
  position: static;
  height: 100%;
  width: 100%;

  transform-origin: top;
  transform: rotateX(110deg);
  transition: all 1s;
  transition-timing-function: linear(0, 0.009, 0.035 2.1%, 0.141 4.4%, 0.723 12.9%, 0.938 16.7%, 1.017, 1.077,
      1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%,
      1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%,
      0.997 69.8%, 1.003 76.9%, 1);
}

/* .top>.card:hover {
  translate: 0 0 1em;
} */

.top>.card:hover div:nth-of-type(2)::before {
  /* opacity: 0; */
}

/* ROTATED */
.top>.card.rotated {
  transform: rotateX(0deg);
  transition-timing-function: linear(0, 0.004, 0.016, 0.035, 0.062, 0.098, 0.141 11.4%, 0.25, 0.39, 0.562, 0.764,
      1 30.3%, 0.847 34.8%, 0.787, 0.737, 0.699, 0.672, 0.655, 0.65, 0.656, 0.672,
      0.699, 0.738, 0.787, 0.847 61.7%, 1 66.2%, 0.946, 0.908, 0.885 74.2%, 0.879,
      0.878, 0.879, 0.885 79.5%, 0.908, 0.946, 1 87.4%, 0.981, 0.968, 0.96, 0.957,
      0.96, 0.968, 0.981, 1);
}

.top>.card.rotated>div:nth-of-type(2)::before {
  opacity: .05;
}

.top>.card div {
  background-color: #fff;
  position: absolute;
}

/* front */
.top>.card div:nth-of-type(1) {
  width: 100%;
  height: 100%;
  translate: 0 -50% calc(var(--z) / -100);
  /* klein foutje recht zetten */
  transform: rotateZ(180deg) rotateY(180deg);
}

/* back */
.top>.card div:nth-of-type(2) {
  width: 100%;
  height: 100%;
  translate: 0 -50% calc(var(--z) / 100);
}

/* top */
.top>.card div:nth-of-type(3) {
  width: 100%;
  height: calc(var(--z) / 50);
  transform-origin: top;
  rotate: x 90deg;
  /* translate: 0 calc((var(--z) - var(--adjustments-block)) / 5) calc(var(--z) / -100); */
  translate: 0 calc((var(--z) - var(--adjustments-block)) / 10) calc(var(--z) / -100);
}

/* bottom */
/* nothing */

/* left */
.top>.card div:nth-of-type(5) {
  width: calc(var(--z) / 50);
  height: 100%;
  transform-origin: left;
  rotate: y 90deg;
  translate: 0 -50% calc(var(--z) / 100);
}

/* right */
.top>.card div:nth-of-type(6) {
  width: calc(var(--z) / 50);
  height: 100%;
  transform-origin: left;
  rotate: y 90deg;
  translate: calc((var(--x) - var(--adjustments-inline)) / 5) -50% calc(var(--z) / 100);
}



/* ========================== */
/* CARD CONTENT */
/* ========================== */

.top>.card div:nth-of-type(1) {
  background-color: #fff;
  padding: .5vw;
  display: flex;
  flex-wrap: wrap;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.top>.card div:nth-of-type(1) p {
  width: 100%;
  height: max-content;
  font-size: .5vw;
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
}


/* ========================== */
/* HOVER CARD */
/* ========================== */

article {
  width: 20vw;
  background-color: red;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: -5em;
  border-radius: 10px;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}


.card-info {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1em;

  img {
    height: 15vw;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}




input {
  position: absolute;
  bottom: 1em;
  left: 50%;
  translate: -50% 0;
}


