:root {
    --header-bg: #D9D9D9;
    --header-color: #444;
    --carrousel-bg: #6B6262;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    /* Uses the regular font face */
    height: 100vh;
}

h1 {
    color: var(--header-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    color: var(--header-color);
    padding: 0 1em;
    background-color: #333;
    color: #fff;
    text-align: center;

    img {
        width: 100%;
        max-width: 200px;
        margin: 0.5em 0;
        border-radius: 10px;
    }
}

main {
    padding: 0 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    /* padding: 0 1em; */

    >h1,
    h3 {
        text-align: center;
    }

    h3 {
        color: #fff;
    }
}

.hidden {
    display: none;
}

/* Carrousel Bron: */
/* https://developer.chrome.com/blog/carousels-with-css?hl=nl */

/* Carrousel */

.carrouselContainer {
    background-color: var(--carrousel-bg);
    padding: 3em;
    border-radius: 10px;
    position: relative;
}


.carrousel {
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: clamp(200px, 30vw, 300px);
    grid-gap: 1em;
    scroll-behavior: smooth;
    padding: 0;
    margin-inline: 0;

    &.hidden {
        display: none;
    }

    /* Carrousel item */
    >.woman {
        scroll-snap-align: start;
        list-style-type: none;
        padding: 0.75em 0.75em;
        border-radius: 10px;
        background-color: #fff;
        scroll-snap-stop: always;
    }

    &::scroll-button(left),
    &::scroll-button(right) {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        color: #fff;
        background-color: #444;
        border-radius: 5px;
        width: 2em;
        height: 2em;
        font-size: 1em;
    }

    &::scroll-button(left) {
        content: "⬅" / "Scroll Left";
        left: 0.5em;
    }

    &::scroll-button(right) {
        content: "⮕" / "Scroll Right";
        right: 0.5em;
    }

    &::scroll-button(*):focus-visible {
        outline-offset: 5px;
    }
}

.woman {
    cursor: pointer;

    img {
        width: 100%;
        border-radius: 10px;
    }

    .quote::before,
    .quote,
    .quote::after {
        font-style: italic;
    }

    .quote::before {
        content: open-quote;
    }

    .quote::after {
        content: close-quote;
    }
}

.chozenWoman {
    display: flex;
    align-items: flex-start;
    width: 20em;
    max-width: 0px;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.25s all ease-out;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


    &.active {
        max-width: 1000px;
        padding: 1em;
    }

    img {
        width: 100%;
        border-radius: 10px;
    }
}

.sideBar {
    position: absolute;
    right: 0;
    top: 0;
    display: grid;
    z-index: 10;
}

.showChozenWoman {
    display: none;
    background-color: #444;
    margin-left: auto;
    color: #fff;
    width: 2em;
    height: 2em;
    font-size: 2em;
    border: none;


    &.show {
        display: block;
    }

    &.active {
        i {
            transform: rotate(180deg);
        }
    }

    i {
        transition: 0.25s all ease-out;
    }
}

article {
    anchor-name: --anchor-article;

    .card-info {
        display: grid;
        grid-template-rows: auto 1fr;

        img {
            height: 10em;
            width: 100%;
            object-fit: cover;
            border-radius: 0 0 10px 10px;
        }

        .info {
            padding: 0 1em;

            button {
                background-color: #444;
                color: #fff;
                border: none;
                padding: 0.5em 1em;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

.extraInfoContainer {
        position: fixed;
        position-anchor: --anchor-article;
        top: anchor(bottom);
        z-index: 10;
        background-color: red;
        padding: 0.5em 1em;
        border-radius: 10px;
        color: #fff;
}